# Task-1:
Make a program that tells you the version of Python you are using

In [6]:
print(python_version())

3.8.8

# Task-2: 
Write a Python language program that converts meters to centimeters.

In [11]:
print('\t ----converion of meters to centimeters---- ')
meter = int(input('Enter the meters: '))
print('Centimeters:',(meter*100))

	 ----converion of meters to centimeters----
Enter the meters: 10
Centimeters: 1000

# Task-3: 
Write a Python program that reads an integer value and displays the 1-10 times tables of the read value.

In [1]:
print('\t ----displaying the 1-10 times tables of an integer value---- ')
int_val = int(input('Enter an integer value : '))
for i in range(1,11):
    print(int_val, "*", i, "=", (int_val * i))

	 ----displaying the 1-10 times tables of an integer value----
Enter an integer value : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Task-4:
Make an algorithm in Python language that receives two grades and calculate the arithmetic mean and show the result.

In [2]:
print('\t ----calculating the arithmetic mean---- ')
Grade_1 = int(input('Enter the Grade 1 : '))
Grade_2 = int(input('Enter the Grade 2 : '))
print('The arithmetic mean : ',(Grade_1+Grade_2)/2)

	 ----calculating the arithmetic mean----
Enter the Grade 1 : 30
Enter the Grade 2 : 90
The arithmetic mean :  60.0

# Task-5:
    Make an algorithm that when receiving the current salary of an employee, calculate the value of the new salary readjusted according to the table below:

Current Salary,	             %Increase

bellow $ 120000,	                       15%

120000 $  up to $ 300000,	               10%

More than $ 300000,	                       5%

In [30]:
print('\t ----calculating salary of an employee---- ')
current_salary = int(input('Enter the current salary : '))
if (current_salary < 120000):
    new_salary = current_salary + (current_salary*0.15)
    print('The new salary : ',new_salary)
if ((current_salary >= 120000) and (current_salary <= 300000)):
    new_salary = current_salary + (current_salary*0.10)
    print('The new salary : ',new_salary)
if (current_salary > 300000):
    new_salary = current_salary + (current_salary*0.05)
    print('The new salary : ',new_salary)

	 ----calculating salary of an employee----
Enter the current salary : 300001
The new salary :  315001.05

# Task-6:
Write a program that displays all numbers between 5 and 100 that are divisible by 7 but are not multiples of 5. The numbers obtained must be printed in sequence.

In [32]:
for i in range(5,101):
    if ((i % 7 == 0) and (i % 5 != 0)):
        print(i)

7
14
21
28
42
49
56
63
77
84
91
98

# Task-7: 
Make a program that receives a number entered by the user and calculates the sum of all numbers from 1 to the number entered. For example, if the user typed the number 4, the output would be 10 (1+2+3+4=10).

In [72]:
num = int(input('Enter the number : '))
output = sum(i for i in range(1, num+1))
print("Output : ",output)

Enter the number : 10
Output :  55

# Task-8: 
Make a program that receiving an integer value, inform if the number is positive, negative or neutral.

In [77]:
num = int(input('Enter an integer value : '))
if (num > 0):
    print("The number is positive")
if (num < 0):
    print("The number is negative")
if (num == 0):
    print("The number is neutral.")

Enter an integer value : -1
The number is negative

# Task-9: 
Create an algorithm that takes a number, counts the total number of digits, and displays the result. For example, if the number is 2021, then the output would be 4

In [102]:
print('\t ----calculating counts the total number of digits---- ')
num = int(input('Enter the number : '))
count = 0
while num != 0:
    count += 1
    num = num // 10
print("count of the number : ",count)

	 ----calculating counts the total number of digits----
Enter the number : 100000
count of the number :  6

# Task-10:
Write a Python language program, which reads a number n and prints the first n numbers of the Fibonacci sequence. Note: The Fibonacci sequence represents a pattern of numbers generated by adding the previous two together. Sequence values are often seen in nature and art, represented by spirals and the golden ratio (or the golden number). As an example of the golden ratio, we have the shells of some molluscs.

In [105]:
print('\t ----calculating the Fibonacci sequence---- ')
n = int(input('Enter the number : '))
num1 = 0
num2 = 1
count = 0
while count < n:
    print(num1)
    num3 = num1 + num2
    num1 = num2
    num2 = num3
    count += 1

	 ----calculating the Fibonacci sequence----
Enter the number : 5
0
1
1
2
3